{% extends "layout.html" %}

{% block content %}
  <div class="movie-grid">
    <div class="home-header">
      <h1>Welcome to Our Movie Collection</h1>
      <p>Explore our vast collection of movies. Click on any movie to see more details.</p>
    </div>

    <!-- Search Box -->
    <div class="search-box">
      <form class="search-form" method="GET">
        <label for="search_query">Search:</label>
        <input type="text" id="search_query" name="query" placeholder="Search by movie title">
        <input type="submit" value="Search">
      </form>
    </div>

    <!-- Movie Grid -->
    <div class="grid-container">
      {% for movie in movies %}
        <div class="grid-item" data-title="{{ movie[1] }}" data-genre="{{ movie[3] }}" data-year="{{ movie[2] }}" data-director="{{ movie[4] }}">
          <a href="/movie_detail/{{ movie[0] }}">
            <img src="{{ movie[5] }}" alt="{{ movie[1] }}" />
          </a>
          <div class="tooltip">
            <p><strong>Title:</strong> {{ movie[1] }}</p>
            <p><strong>Genre:</strong> {{ movie[3] }}</p>
            <p><strong>Year:</strong> {{ movie[2] }}</p>
            <p><strong>Director:</strong> {{ movie[4] }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
